<section class="reset-password">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <h1 class="logo mb-5 style-font"><span class="main-text ">Stay</span>cation.</h1>
                </div>
                <div class="signup-design">
                    <h3 class="pb-2">Reset password</h3>
                    <p>If you don’t have an account register <br>You can <a class="text-decoration-none text-danger fw-bold" routerLink="/auth/login">Login here!</a></p>
                </div>
                <div class="d-flex align-items-center justify-content-center py-5">
                    <form  [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit(resetPasswordForm)" class="w-75">
                        <div class="form-row">
                            <div class="form-group">
                                <label >Email</label>
                                <input type="email" class="form-control" placeholder="Enter your email" aria-label="email"  formControlName="email">
                            </div>
                            <mat-error *ngIf="resetPasswordForm.get('email')?.errors && resetPasswordForm.get('email')?.touched"
                            class="text-red m-0 mx-auto p-0 text-start block mt-1">
                            <span class="text-red p-0" *ngIf="resetPasswordForm.get('email')?.getError('required')">Email is
                              required</span><br>
                            <span class="text-red p-0" *ngIf="resetPasswordForm.get('email')?.getError('email')">Email isn't
                              validator</span>
                          </mat-error>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label >OTP</label>
                                <input formControlName="seed" type="OTP" class="form-control " placeholder="Enter your OTP">
                            </div>
                            <mat-error *ngIf="resetPasswordForm.get('seed')?.errors && resetPasswordForm.get('seed')?.touched"
                            class="text-red m-0 mx-auto p-0 text-start block mt-1">
                            <span class="text-red p-0" *ngIf="resetPasswordForm.get('seed')?.getError('required')">OTP is
                              Required</span>
                            </mat-error>
                        </div>
                        <div class="form-row">
                            <div class="form-group position-relative">
                                <label >Password</label>
                                <input [type]="hide ? 'password' : 'text'" class="form-control" placeholder="Enter your password" aria-label="password" formControlName="password">
                                <a class="show-password" (click)="this.hide= !this.hide">
                                    <i class="fa-solid gray" [class]="hide?'fa-eye-slash':'fa-eye'"></i>
                                </a>
                            </div>
                            <mat-error *ngIf="resetPasswordForm.get('password')?.errors && resetPasswordForm.get('password')?.touched"
                                class="text-red m-0 mx-auto p-0 text-start block mt-1">
                                <span class="text-red p-0 block" *ngIf="resetPasswordForm.get('password')?.getError('required')">Password is
                                required</span>
                                <span class="custom-error-style">{{getErrorMessageforPasswrod()}}</span>
                            </mat-error>
                        </div>
                        <div class="form-row">
                            <div class="form-group position-relative">
                                <label>Confirm password</label>
                                <input [type]="hiden ? 'password' : 'text'" class="form-control " placeholder="Enter your confirm password" aria-label="confirm-password" formControlName="confirmPassword">
                                <a class="show-password" (click)="this.hiden= !this.hiden">
                                    <i class="fa-solid gray" [class]="hiden?'fa-eye-slash':'fa-eye'"></i>
                                </a>
                            </div>
                            <mat-error *ngIf="resetPasswordForm.get('confirmPassword')?.errors && resetPasswordForm.get('confirmPassword')?.touched"
                                class="text-red m-0 mx-auto p-0 text-start block mt-1">
                                <span class="text-red p-0 block" *ngIf="resetPasswordForm.get('confirmPassword')?.getError('required')">Password is
                                required</span>
                                <span class="custom-error-style">{{getErrorMessageforPasswrod()}}</span>
                            </mat-error>
                        </div>
                      
                        
                        <div class="form-row py-5">
                            <div >
                                <button [disabled]="resetPasswordForm.invalid"  class="shadow-sm main w-100">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6 image_form border rounded-5 d-none d-md-flex justify-content-end flex-column p-5">
                <div class="ms-5 text-white">
                    <h3 class="title_form">Reset Password</h3>
                    <p class="fw-500 fs-5">Homes as unique as you.</p>
                </div>
            </div>
        </div>
    </div>
</section>