<section id="footer">
    <div class="container-fluid">
        <hr>
        <div class="row pt-3">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <h4 class="logo style-font pb-2"><span class="main-text">Stay</span>cation.</h4>
                <!-- {{"ads-section"|translate}} -->
                <h6 class="pb-2">{{"footer-paragraph-p1"|translate}}<br>
                    {{"footer-paragraph-p2"|translate}}</h6>
            </div>
            <div class="col-md-2">
                <h5 class="pb-2">{{"footer-beginners"|translate}}</h5>
                <h6 class="pb-2">{{"footer-New-Account"|translate}}</h6>
                <h6 class="pb-2">{{"footer-book"|translate}}</h6>
                <h6 class="pb-2">{{"footer-pay"|translate}}</h6>
            </div>
            
            <div class="col-md-2">
                <h5 class="pb-2">{{"footer-explore"|translate}} </h5>
                <h6 class="pb-2">{{"footer-career"|translate}}</h6>
                <h6 class="pb-2">{{"footer-privacy"|translate}}</h6>
                <h6 class="pb-2">{{"footer-terms"|translate}}</h6>
            </div>
            <div class="col-md-2">
                <h5 class="pb-2">{{"footer-contact"|translate}}</h5>
                <h6 class="pb-2">Support@staycation.id</h6>
                <h6 class="pb-2">021-2208-1996</h6>
                <h6 class="pb-2">Staycation, Kemang, Jakarta</h6>
            </div>
        </div>
        
    </div>
    <p class="text-center pt-5">{{"copy-right"|translate}} 2019 <span class="dot"> {{"copy-right-p"|translate}}</span> Staycation</p>
</section>
