<section id="add-ads">
  <div class="row  py-5">
    <div class="col-8">
        <h2>Ads form details</h2>
        <p>You can add and edit ads from here</p>
    </div>
    <div class="col-4 text-end ">
      <button class="btn light-blue p-2 px-4 text-white " routerLink="/admin/ads">Back</button>
  </div>
</div>
</section>
<section>
  <form [formGroup]="addAdsForm" (ngSubmit)="onSubmit()">
      <div class="container">
          <div class="row py-5">
              <div class="col-9 mx-auto">
                <div>
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Room name</mat-label>
                    <mat-select matNativeControl formControlName="room" (selectionChange)="getAllRooms()" [disabled]="adsId ? true : false">
                      <mat-option>All</mat-option>
                      <mat-option *ngFor="let data of roomName" [value]="data._id">{{data.roomNumber}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                  <div class="input-group mb-3">
                      <input formControlName="discount" type="number" class="form-control" name="price" placeholder="Price" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                  <div >
                      <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Active</mat-label>
                        <mat-select formControlName="isActive" >
                          <mat-option value="true">True</mat-option>
                          <mat-option value="false">False</mat-option>
                        </mat-select>
                      </mat-form-field>
                      
                    </div>
                    
                  <div>
                      <hr>
                      <div class="d-flex justify-content-end">
                         
                          <button class="border-light-blue text-light-blue btn px-4">Save</button>
                          
                      </div>
                  </div>
              </div>
          </div>
      </div>

  </form>
</section>
 