<section id="changePassword" class="text-center">
<div class="pt-5 ps-3">
    <h2 class="text-start ps-5 ms-5 pb-4 text-gray">Change Password</h2>
  
    <form [formGroup]="userpassword" (ngSubmit)="onSubmit(userpassword)">
        <mat-form-field class="w-75">
            <mat-label>old Password</mat-label>
            <input matInput formControlName="oldPassword" [type]="hide?'password':'text'">
            <a class="show-password gray" (click)="this.hide= !this.hide">
                <i class="fa-solid" [class]="hide?'fa-eye-slash':'fa-eye'"></i>
            </a>
          </mat-form-field>
          <mat-form-field class="w-75">
            <mat-label>new Password</mat-label>
            <input matInput formControlName="newPassword" [type]="hide?'password':'text'">
            <a class="show-password gray" (click)="this.confirmHide= !this.confirmHide">
                <i class="fa-solid" [class]="confirmHide?'fa-eye-slash':'fa-eye'"></i>
            </a>
          </mat-form-field>
          <mat-form-field class="w-75">
            <mat-label>new Password</mat-label>
            <input matInput formControlName="confirmPassword" [type]="confirmNewHide?'password':'text'" >
            <a class="show-password gray" (click)="this.confirmNewHide= !this.confirmNewHide">
                <i class="fa-solid" [class]="confirmNewHide?'fa-eye-slash':'fa-eye'"></i>
            </a>
          </mat-form-field>
        <button [disabled]="userpassword.invalid" class="w-75 btn light-blue text-white">
            <span >Save</span>
            <span ><i class="fa-solid text-white"></i></span>
        </button>
    </form>

</div>
</section>