@import"../../../../assets/styles/layout";
#change-user-password{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*.show-password{
    position: absolute;
    right: 5px;
    bottom: 0;
    transform: translate(-25%, -25%);
  }*/
  .show-password{
    position: absolute;
    right: 0px;
    bottom: 7px;
    transform: translate(-25%, -25%);
  }
  input{
    background-color: transparent !important;
  }
.text-gray{
    color:rgba(128, 128, 128, 0.805)
}  