@import "../../../../assets/styles/layout";
#allFacilities{
    background-color: rgba(237, 237, 237, 0.455);
    margin: 20px 10px;
    border-radius: 20px;
    padding: 5px 10px;
}
.add-button{
    padding-top : 10px;
    padding-bottom : 10px;
    padding-left: 20px;
    padding-right : 20px;
}