<section class="forgot-password">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <h1 class="logo mb-5 style-font"><span class="main-text ">Stay</span>cation.</h1>
                </div>
                <div class="signup-design">
                    <h3 class="pb-4">Forgot password</h3>
                    <p>If you don’t have an account register <br>You can <a class="text-decoration-none text-danger fw-bold" routerLink="/auth/login">Login here!</a></p>
                </div>
                <div class="d-flex align-items-center justify-content-center py-5">
                    <form  [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit(forgotPasswordForm)" class="w-75">
                        
                        <div class="form-row">
                            <div class="form-group">
                                <label class="">Email</label>
                                <input type="email" class="form-control" placeholder="Enter your email" aria-label="email"  formControlName="email">
                            </div>
                            <mat-error *ngIf="forgotPasswordForm.get('email')?.errors && forgotPasswordForm.get('email')?.touched"
                            class="text-red m-0 mx-auto p-0 text-start block mt-1">
                            <span class="text-red p-0" *ngIf="forgotPasswordForm.get('email')?.getError('required')">Email is
                              required</span><br>
                            <span class="text-red p-0" *ngIf="forgotPasswordForm.get('email')?.getError('email')">Email isn't
                              validator</span>
                          </mat-error>
                        </div>
                        
                      
                        
                        <div class="form-row py-5">
                            <div >
                                <button [disabled]="forgotPasswordForm.invalid" class="shadow-sm main w-100">Send mail</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6 image_form border rounded-5 d-none d-md-flex justify-content-end flex-column p-5">
                <div class="ms-5 text-white">
                    <h3 class="title_form">Forgot Password</h3>
                    <p class="fw-500 fs-5">Homes as unique as you.</p>
                </div>
            </div>
        </div>
    </div>
</section>
