<div class="booking-page">
  <div class="container mb-5">
    <div class="w-60 pt-5 pb-4 d-flex justify-content-between align-items-center">
      <div>
        <span class="h5 creatBy myPointer" [routerLink]="'../../'">{{"nav-home"|translate}}</span> <span class="mx-4">/</span> <span
          class="h5 myPointer">{{"room-details"|translate}}</span>
      </div>
      <div class="text-center">
        <h1 class="dark-blue">{{roomNumber}}</h1>
        <p class="gray">{{createdBy}}</p>
      </div>
    </div>
    <div>
      <div class="row justify-content-center align-items-center g-3">
        <div class="col-lg-7 d-lg-block col-md-6">
          <div *ngFor="let item of roomImages.slice(0, 1)" class="imag-img2 w-100">
            <img [src]="item" alt="" class="w-100 h-50 imgHeight1 rounded-4 mb-4">
          </div>
        </div>
      </div>
    <div class="container pt-4">
     <div class="row d-flex justify-content-between">
        <div class="col-md-6">
            <div class="side">
                <p class="gray">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis sit perspiciatis nesciunt dolorem temporibus molestias officia! Cupiditate molestiae temporibus facere obcaecati voluptate. Impedit odit assumenda reprehenderit adipisci exercitationem id vitae architecto quo dolorum possimus laborum iusto, cumque ipsam et pariatur nobis neque! Maxime, magni. Quam perferendis aliquam expedita nam. Sed!</p>
                <p class="gray">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis sit perspiciatis nesciunt dolorem temporibus molestias officia! Cupiditate molestiae temporibus facere obcaecati voluptate. Impedit odit assumenda reprehenderit adipisci exercitationem id vitae architecto quo dolorum possimus laborum iusto, cumque ipsam et pariatur nobis neque! Maxime, magni. Quam perferendis aliquam expedita nam. Sed!</p>
                <div class="icons d-flex ">
                    <div class="icon-with-text px-3">
                        <i class="material-icons icon text-dark-blue">home</i>
                        <p class="gray"> <span class="text-dark-blue fw-bold">2 </span>rooms</p>
                      </div>
                      <div class="icon-with-text px-5">
                          <i class="material-icons icon text-dark-blue">bed</i>
                          <p class="gray"> <span class="text-dark-blue fw-bold">5 </span>bedroom</p>
                      </div>
                      <div class="icon-with-text px-5">
                        <i class="material-icons icon text-dark-blue">bathroom</i>
                        <p class="gray"> <span class="text-dark-blue fw-bold">5 </span>bathrooms</p>
                    </div>
                    <div class="icon-with-text px-5">
                        <i class="material-icons icon text-dark-blue">dining</i>
                        <p class="gray"> <span class="text-dark-blue fw-bold">5 </span>dining room</p>
                    </div>
                </div>
                <div class="icons d-flex ">
                    <div class="icon-with-text px-3">
                        <i class="material-icons icon text-dark-blue">wifi</i>
                        <p class="gray"> <span class="text-dark-blue fw-bold">5 </span>wifi</p>
                      </div>
                      <div class="icon-with-text px-5">
                          <i class="material-icons icon text-dark-blue">work</i>
                          <p class="gray"> <span class="text-dark-blue fw-bold">5 </span>office</p>
                      </div>
                      <div class="icon-with-text px-5">
                        <i class="material-icons icon text-dark-blue">ping</i>
                        <p class="gray"> <span class="text-dark-blue fw-bold">5 </span>cleaning</p>
                    </div>
                    <div class="icon-with-text px-5">
                        <i class="material-icons icon text-dark-blue">shower</i>
                        <p class="gray"> <span class="text-dark-blue fw-bold">5 </span>spa</p>
                    </div>
                </div>
                
        </div>
     </div>
     <div class="col-md-5">
        <div class="side">
            <div class="booking-form border p-5 ">
                <h4 class="text-dark-blue fw-bold">{{"Start-booking"|translate}}</h4>
                <h3 class="gray fw-light"><span class=" text-success">230$ </span>{{"padge-paragraph"|translate}}</h3>
                <p class="text-danger">{{"discount"|translate}} 20% </p>
                <form class="py-5" [formGroup]="bookingForm" (ngSubmit)="onBookSubmit(bookingForm)" >
                    <mat-form-field class="example-form-field " appearance="outline" class="w-75">
                        <mat-label color="primary" class="dark-blue text-center">{{"Date-title"|translate}}</mat-label>
                        <mat-date-range-input [rangePicker]="rangePicker" class="dark-blue" color="">
                          <input formControlName="startDate" matStartDate placeholder="Start date" color="primary" class="dark-blue w-100">
                          <input formControlName="endDate" matEndDate placeholder="End date" color="primary" class="dark-blue w-100">
                        </mat-date-range-input>
              
                        <mat-datepicker-toggle matIconSuffix [for]="rangePicker" color="primary"></mat-datepicker-toggle>
                        <mat-date-range-picker #rangePicker color="primary">
                          <mat-date-range-picker-actions color="primary" class="dark-blue">
                            <button mat-button matDateRangePickerCancel class="btn btn-outline-danger me-2">{{"cancle-btn"|translate}}</button>
                            <button mat-raised-button matDateRangePickerApply class="btn btn-outline-main">{{"apply-btn"|translate}}</button>
                          </mat-date-range-picker-actions>
                        </mat-date-range-picker>
                      </mat-form-field>
                  <p class="gray">{{"pay"|translate}} <span class="text-dark-blue fw-bold">480 {{"Usd"|translate}}</span> {{"per"|translate}} <span class="text-dark-blue fw-bold">2 {{"person"|translate}}</span></p>
                  <div class="w-100" >
                    <button type="submit" class="btn light-blue text-white mt-3" >{{"book-btn"|translate}}</button>
                  </div>
                </form>
              </div>
    </div>
        
      </div>

      
    </div>
  </div>
  <section>
    <div class="container rating mt-5 rounded-3 shadow-sm">
      <div class="row">
        <div class="col-md-6 pe-4">
          <h3 class="pt-2">{{"rate"|translate}}</h3>
          <form [formGroup]="reviewsForm" (ngSubmit)="onReviewSubmit(reviewsForm)">
           
         
          <div class="" >
            <div class="cont">
              <div class="stars fs-3  ">
                <!-- <ngx-star-rating class="bg-danger" formControlName="rating" [id]="'rating2'" [disabled] ="false"></ngx-star-rating>-->
                 <!-- <star-rating class="bg-danger" formControlName="rating" [id]="'rating2'" [disabled] ="false"></star-rating> -->
              </div>
            
            </div>  
            <div class=" fs-3">
              <span class="fa fa-star text-warning checked"></span>
              <span class="fa fa-star text-warning checked"></span>
              <span class="fa fa-star text-warning checked"></span>
              <span class="fa fa-star text-warning checked"></span>
              <span class="fa fa-star"></span>
            </div>
             
          
          </div>
          <label class="pb-1 m-1 fs-4" >{{"message"|translate}}</label><br>
  
          <textarea formControlName="review" class="w-100 pb-2 rounded-3 m-3" rows="5" cols="5"></textarea>
         
          <button class="main w-25 m-3">{{"rate"|translate}}</button>
          </form>
        </div>
       
        <div class="col-md-6 ps-5">
          <h3 class="pt-2">{{"comment"|translate}}</h3>
          <form [formGroup]="commentForm" (ngSubmit)="onSubmit(commentForm)">
          <label class="pb-3 pt-5 m-3 fs-4">{{"message"|translate}}</label><br>
        
          <textarea formControlName="comment" class="w-100 pb-2 rounded-3 m-3" rows="5" cols="5"></textarea>
          <button class="main w-25 m-3 float-end ">{{"apply-btn"|translate}}</button>
          <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </section>