@import"../../../../assets/styles/layout";
h6{
    color: rgb(33, 63, 129);
}
h2{
    color: rgb(33, 63, 129);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.style{
    color: rgb(183, 183, 183);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 10px;
}