<section>
  <div class="navbar mt-1">
  <div class="search-bar w-50 ms-2">
    <h4>Role: {{userRole}}</h4>
    </div>
    <div class="user d-flex justify-content-end align-items-center">
      <img src="../../../assets/images/avatar.png" class="picture">
      <h6 class="ps-2 pt-2">{{userName}}</h6>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon> <span class="material-symbols-outlined">
            expand_more
          </span></mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/admin/change-password">
          <mat-icon><span class="material-symbols-outlined icon">
              lock_open
            </span></mat-icon>
          <span class="">Change password</span>
        </button>
        <button mat-menu-item (click)="logOut()">
          <mat-icon><span class="material-symbols-outlined icon">logout</span></mat-icon>
          <span class="">Logout</span>
        </button>
      </mat-menu>
    </div>
  </div>
</section>
