@import'../../../assets/styles/layout';
@import'../../../assets/styles/abstracts/navbar';


.navbar-text {
  font-size: 19px;
  font-weight: 500;
}

.add-button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Add bottom shadow */
  &:hover {
    // background-color: #6aaaff44;
    background-color: #fff;
    color: $dark-blue;
  }
}





.picture{
    border-radius: 25px;
    padding: 10px 0;
    height: 200px;
}
.text{
    position: absolute;
    top:10px;
    right: 13px;
    background-color: rgba(255, 73, 139, 1);
    padding: 10px 40px;
    border-radius: 15px;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h4{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     color:rgb(28, 58, 118);
}
h5{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(28, 58, 118);

}
h3{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(28, 58, 118);
}
p{
    color:rgb(169, 169, 169)
}



.btn-outline-main {
  background-color: transparent;
  color: $dark-blue;
  border-color: $dark-blue;
  &:hover {
    color: #fff;
    background-color: $text-main;
    border-color: $text-main;
    transition: all;
  }
}

.w-35 {
  width:35%;
}


.w-70 {
  width: 70%;
}






/* start img */

.imag_home {
  width: 380px;
}

.imag_home_border {
  border: rgba(56, 56, 56,.2) solid 2px;

}


.imag-img_home {
  position: relative;
  top: -33px;
  left: -35px;
  border-radius: 80px 15px 15px 15px;
  overflow: hidden;
  width: 380px;

}


.imgHeight1 {
  height: 36rem;
}

.imgHeight2 {
  height: 16rem;
}



// *section2


.imag {
  width: 380px;
  border: #555 solid 8px;
  border-radius: 5px;
}

.imag-img2 {
  position: relative;
}


.imag-captain {
  color: #fff;
  bottom: 15px;
  left: 20px;
  padding: 10px;
  position: absolute;
  border-radius: 5px;
  transition: all .7s;
  opacity: 1;
}

.imag-price {
  background-color: rgba(255, 73, 139, 1);
  color: #fff;
  top: 0;
  right: 0;
  padding: 10px 10px 4px 10px;
  position: absolute;
  border-radius: 0 16px 0 16px ;
  transition: all .7s;
  opacity: 1;
}



.imag-captain2 {
  color: #fff;
  // background-color: rgba(0, 0, 0, .5);
  // top: 110%;
  bottom: 15px;
  left: 20px;
  // text-align: center;
  padding: 10px;
  position: absolute;
  border-radius: 5px;
  transition: all .7s;
  opacity: 1;
}

.imag-price2 {
  background-color: rgba(255, 73, 139, 1);
  color: #fff;
  top: 0;
  right: 0px;
  padding: 10px 10px 4px 10px;
  position: absolute;
  border-radius: 0 16px 0 16px ;
  transition: all .7s;
  opacity: 1;
}



// *SECTION

.imag-img2 {
  position: relative;
  top: 33px;
  left: 30px;
  border-radius: 5px;
  overflow: hidden;
  width: 380px;
}

.imag-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  background-color: rgba(19, 46, 95, 0.4);
  top: 110%;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  padding: 10px;
  position: absolute;
  border-radius: 15px;
  transition: all .7s;
  opacity: 0;
}

.imag-icon i {
  margin-right: 20px;
  transform: scale(1.5);
  font-size: 18px;
  transition: all .2s;
  cursor: pointer;
}

.imag-icon i:hover {
  color: rgb(28, 52, 102);
}

.imag-img2:hover .imag-icon {
  opacity: 1;
  top: 0;
}

// *img part 3

.imag-img3 {
  position: relative;
  top: 33px;
  left: 30px;
  border-radius: 5px;
  overflow: hidden;
  width: 380px;
}


.imag-icon3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  color: #fff;
  background-color: rgba(19, 46, 95, 0.4);
  top: 110%;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  padding: 10px;
  position: absolute;
  border-radius: 15px;
  transition: all .7s;
  opacity: 0;
  width: 100%;
  margin-inline:auto ;
}

.imag-icon3 i {
  margin-right: 20px;
  transform: scale(1.5);
  font-size: 18px;
  transition: all .2s;
  cursor: pointer;
}

.imag-icon3 i:hover {
  color: rgb(28, 52, 102);
}

.imag-img3:hover .imag-icon3 {
  opacity: 1;
  top: 0;
}


.add-button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Add bottom shadow */
  &:hover {
    background-color: #fff;
    color: $dark-blue;
  }
}

.carousel-control-next-icon{
  color: rgb(28, 52, 102) !important;
  border-radius: 4px rgb(28, 52, 102) solid !important;
}
