.main{
    color: white;
    background-color: #3252DF;
    border: aqua;
    padding: 10px 5px;
    border-radius: 5px;
}
input{
    background-color: #F5F6F8 !important;
}

.picture img{
    //width: 735px;
    height: 700px;
    border-radius: 15px;

}
.content a{
    text-decoration: none !important;
    cursor: pointer;
}